Flask_Cors==3.0.10
Werkzeug==1.0.1
pytest==6.2.4
gevent==21.1.2
pika==1.2.0
Flask_RESTful==0.3.8
Flask==1.1.2
motor
ijson
pip
wheel
cryptography
pymongo
cffi
tornado
aiohttp
certifi
service_identity
setuptools
apscheduler
psutil